@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: var(--color-light-bg);
    transition-property: background-color;
    transition-duration: 300ms;
  }
  @media (prefers-color-scheme: dark) {
    body {
      background-color: var(--color-dark);
    }
  }
}
